.collection {
    padding-top: 1rem;
    overflow: hidden;
}

.collection__title {
    width: 91vw;
    margin: 0 auto;
    padding: 0 1rem 1.3rem;
    font-size: 1.9rem;
    font-weight: normal;
    letter-spacing: .1rem;
}

.movie-carousel {
    position: relative;
    display: flex;
    align-items: center;
}

.movie-carousel__list {
    display: flex;
}

.movie-carousel__cover {
    width: 100%;
    border-radius: .3rem;
    box-shadow: #0f1110 0 2rem 2rem -1rem;
}

.movie-carousel__item {
    width: calc(91vw / 5);
    padding: 0 1rem 2.5rem;
    opacity: .5;
}

.movie-carousel__item.active {
    opacity: 1;
}

.movie-carousel__link {
    display: block;
    position: relative;
}

.movie-carousel__link::before {
    content: '';
    border: .4rem solid rgba(255, 255, 255, 0);
    position: absolute;
    inset: 0; /*top: 0, bottom: 0, right: 0, left: 0*/
    border-radius: .3rem;
    transition: border .3s;
}

.movie-carousel__link:hover {
    transform: scale(1.05);
}

.movie-carousel__link:hover::before {
    border-color: rgba(255, 255, 255, 0.7);
}

.movie-carousel .arrow-slider {
    z-index: 2;
    position: absolute;
    margin-top: -2.5rem;
    padding: 0 1rem;
    height: 100%;
    opacity: 0;
    transition: opacity .3s;
}

.movie-carousel .arrow-slider:hover {
    opacity: 1;
}

.movie-carousel .arrow-slider--left {
    left: 0rem;
}

.movie-carousel .arrow-slider--right {
    right: 0rem;
}

@media screen and (max-width: 1024px){
    .collection {
        padding-top: 0;
        overflow: hidden;
    }
    
    .movie-carousel__item {
        width: calc(85vw / 2);
        padding: 0 1rem 2.5rem;
    }

    .collection__title {
        width: 85vw;
    }

    .movie-carousel .arrow-slider--left {
        padding: 0 1rem;
        left: 0rem;
    }
    
    .movie-carousel .arrow-slider--right {
        padding: 0 1rem;
        right: 0rem;
    }
}