.user-menu {
    position: absolute;
    top: 0;
    right: 0;
}

.user-menu__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #141414;
    z-index: 1;
    border: 1px solid #393939;
    border-radius: .5rem;
    animation: slideDown .3s;
}

.user-menu__current-profile {
    padding: 1.2rem 2rem;
}

.user-menu__item .user-profile {
    cursor: pointer;
} 

.user-menu__profiles {
    border-top: 1px solid #393939;
    margin: 0 2rem;
    padding-top: .9rem;
}

.user-menu__profiles .user-menu__item {
    padding: 0.7rem;
}

.user-menu__options .user-menu__link {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    color: #C3C3C3;
    padding: 1.3rem 2rem;
}

.user-menu__options .user-menu__link:hover {
    color: #fff;
}

.user-menu__options {
    padding-bottom: 2rem;
    margin-left: 1rem;
}

.user-menu__current-profile,
.user-menu__profiles,
.user-menu__options {
    position: relative;
    z-index: 2;
}

.user-menu__profiles,
.user-menu__options {
    animation: showFade .3s;
}

.user-menu .show-hover {
    display: none;
}

.user-menu:hover .user-profile__title,  
.user-menu:hover .show-hover {
    display: block;
}

@media screen and (max-width: 1024px) {
    .user-menu .user-profile__avatar {
        width: 3.6rem;
        height: 3.6rem;
    }

    .user-menu .user-profile__title {
        display: none;
    }

    .user-menu__current-profile {
        padding-top: 1.9rem;
        padding-right: 2.2rem;
    }
}