.banners {
    padding-top: 9.7rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.banners .arrow-slider {
    z-index: 2;
    position: absolute;
    margin-top: -3rem;
}

.banners .arrow-slider--left {
    left: 3.6rem;
}

.banners .arrow-slider--right {
    right: 3.6rem;
}

.banners .controls-slider {
    right: 11.5rem;
    bottom: 4.6rem;
}

.banner-slider {
    position: relative;
    display: flex;
}

.banner-slider__item {
    width: 91vw;
    flex-shrink: 0;
    padding: 0 1rem 3rem;
    position: relative;
}

.banner-slider__link {
    position: relative;
}

.banner-slider__link::before {
    content: '';
    border: none;
    border: .4rem solid rgba(255, 255, 255, 0);
    position: absolute;
    inset: 0; /*top: 0, bottom: 0, right: 0, left: 0*/
    border-radius: 0.5rem;
    transition: border .3s;
}

.banner-slider__link:hover::before {
    border-color: rgba(255, 255, 255, 0.7);
}

.banner-slider__cover {
    width: 100%;
    border-radius: 0.5rem;
    display: block;
    box-shadow: #000 0rem 2rem 3rem -2rem;
}

.banner-slider__title.active {
    display: block;
}

.banner-slider__title {
    animation: slideLeft 1s;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
}

@media screen and (max-width: 1024px) {
    .banners {
        padding-top: 8.2rem;
    }
    
    .banner-slider__item {
        width: 85vw;
    }
    .banners .arrow-slider--left {
        left: 1rem;
    }
    
    .banners .arrow-slider--right {
        right: 1rem;
    }

    .banners .controls-slider {
        right: 50%;
        transform: translateX(50%);
        bottom: 4.2rem;
    }
}